<span class="titulo">Trazabilidad</span>
<div class="tabla-responsive">
  <div class="contenedor1">
    <form [formGroup]="formSearch" class="form-search form-inline">
      <div class="input-container">
        <app-basic-input [typeInput]="'date'" [rightIcon]="'fecha-mini'" [leftIcon]="'fecha-normal'" [form]="formSearch"
          [nameControlform]="'fecha_creacion'" [textLabel]="'Buscar por fecha'"
          [placeholderText]="'Seleccione una fecha'"></app-basic-input>
        <app-basic-input [dataSelect]="modulos" [valueId]="'idMenu'" [valueDescription]="'menuName'"
          [typeInput]="'select'" [leftIcon]="'fecha-check'" [rightIcon]="'arrow_drop_down'" [form]="formSearch"
          [nameControlform]="'idModulo'" [textLabel]="'Módulo'" [flagCheck]="false" [searchFlag]="true"
          [placeholderText]="'Seleccione una opción'">
        </app-basic-input>
        <app-basic-input [typeInput]="'text'" [rightIcon]="'search'" [leftIcon]="'buscar-tuerca'" [form]="formSearch"
          [nameControlform]="'fullNameUserAction'" [textLabel]="'Usuario'"></app-basic-input>
        <app-basic-input [dataSelect]="movimientos" [valueId]="'idMovement'" [valueDescription]="'movement'"
          [typeInput]="'select'" [leftIcon]="'fecha-check'" [rightIcon]="'arrow_drop_down'" [form]="formSearch"
          [nameControlform]="'idMovimiento'" [textLabel]="'Movimiento'" [flagCheck]="false" [searchFlag]="true"
          [placeholderText]="'Seleccione una opción'">
        </app-basic-input>

      </div>



      <button class="btnIcon-01" (click)="getTrazaList()">
        <div><span>Buscar</span></div>
        <mat-icon>search</mat-icon>
      </button>
      <button class="btnIcon-01" (click)="limpiar()">
        <div><span>Limpiar</span></div>
        <mat-icon svgIcon="limpiar"></mat-icon>
      </button>
      <button class="btnIcon-01" (click)="descargarTraza()">
        <div><span>Descargar trazabilidad</span></div>
        <mat-icon svgIcon="descargar"></mat-icon>
      </button>
    </form>

  </div>
  <div>
    @if (trazabilidad.length !==0) {
    <app-tabla-comun [cabeceros]="cabeceros" [info-tabla]="trazabilidad" (onButton)="abrirModalDetalle($event, detalle)"
      [paginadorNumber]="10"> </app-tabla-comun>
    }
  </div>
</div>





<ng-template #detalle>
  <div class="cont-modal">
    <div class="cont-detalle shadow">
      <h2 class="title-detail"> {{titleDetail}}</h2>
      <div class="table-traza-detail">
        <table>
          <thead class="commonTable">
            <tr>
              <th class="text-truncate">Key</th>
              <th class="text-truncate">{{typeTraza == 2 ? 'Valor antiguo':'Valor'}}</th>
              @if(typeTraza == 2){
              <th class="text-truncate">Valor actualizado</th>
              }

            </tr>
          </thead>
          <tbody>

            @for (diff of diffJson; track $index;let indx = $index) {
            @if(diff.key){
            <tr>
              <td class="text-truncate" [matTooltip]="diff.key | DictionaryLogs | async">{{ diff.key | DictionaryLogs | async }}</td>
              <td (click)="copiarContenido(diff.valueA !== null ? diff.valueA:null)"
                [matTooltip]=" diff.valueA !== null ? diff.valueA:'-'" class="text-truncate" [ngClass]="{ 
                      'diferent': diff.isDifferent && (diff.valueB === null || diff.valueB === undefined) && this.traza.idMovimiento <= 2 ,
                      'diferentAnterior':diff.isDifferent && (diff.valueB !== null || diff.valueB !== undefined) && this.traza.idMovimiento <= 2 || this.traza.idMovimiento > 2,
                    }">
                {{ diff.valueA || diff.valueA === false || diff.valueA == 0? diff.valueA !== ''? diff.valueA:'-':'-'}}
              </td>
              @if(this.traza.idMovimiento === 2 ){
              <td (click)="copiarContenido(diff.valueB !== null ? diff.valueB:null)"
                [matTooltip]=" diff.valueB !== null ? diff.valueB:'-'" class="text-truncate"
                [ngClass]="{ 'diferent': diff.isDifferent }">
                {{diff.valueB === null || diff.valueB === undefined || diff.valueB === ''?'-':diff.valueB}}
              </td>
              }
            </tr>
            }@else{
            <tr style="background: var(--color-01);">
              <td [colSpan]="this.traza.idMovimiento === 2 ?3:2" style="color: white;">Lista de datos iterables, key :
                {{diff[0].namePrincipalKey | DictionaryLogs | async}}</td>
            </tr>
            @for (diff2 of diff; track $index;let indx2 = $index) {
            <tr [style]="shouldHighlightRow(indx2, diff2.countKeys ) ? 'background:#e8e8e8;':''">
              <td class="text-truncate" [matTooltip]="diff2.key | DictionaryLogs | async">{{ diff2.key | DictionaryLogs | async}}</td>
              <td (click)="copiarContenido(diff2.valueA !== null ? diff2.valueA:null)"
                [matTooltip]=" diff2.valueA !== null ? diff2.valueA:'-'" class="text-truncate" [ngClass]="{ 'diferent': diff2.isDifferent && diff2.valueB === null && this.traza.idMovimiento <= 2 ,
                                     'diferentAnterior':diff2.isDifferent && diff2.valueB !== null && this.traza.idMovimiento <= 2 || this.traza.idMovimiento > 2,
                                   }">
                {{ diff2.valueA || diff2.valueA === false || diff2.valueA == 0 ? diff2.valueA !== ''? diff2.valueA:'-'
                :'-'}}</td>
              @if(this.traza.idMovimiento === 2 ){
              <td (click)="copiarContenido(diff2.valueB !== null ? diff2.valueB:null)"
                [matTooltip]=" diff2.valueB !== null ? diff2.valueB:'-'" class="text-truncate"
                [ngClass]="{ 'diferent': diff2.isDifferent }">
                {{diff2.valueB === null || diff2.valueB === undefined || diff2.valueB === ''?'-':diff2.valueB}}
              </td>
              }
            </tr>
            }
            <tr style="background: var(--color-01);">
              <td [colSpan]="this.traza.idMovimiento === 2 ?3:2" style="color: white;">Fin de lista de datos iterables,
                key : {{diff[0].namePrincipalKey | DictionaryLogs | async}}</td>
            </tr>
            }
            }

          </tbody>
        </table>
      </div>


    </div>
  </div>
</ng-template>