<div class="container">
  <h3 class="titulo">{{ idIntegration ? 'Editar' : 'Agregar' }} Integración</h3>

  <div class="cont-form">

    <app-basic-input [typeInput]="'text'" [leftIcon]="'numeral'" [form]="formIntegration" [maxlength]="10"
      [nameControlform]="'integrationsCode'" [textLabel]="'Código'"></app-basic-input>
    <app-basic-input [typeInput]="'text'" [leftIcon]="'Integracion'" [form]="formIntegration" [maxlength]="30"
      [nameControlform]="'integrationsName'" [textLabel]="'Nombre de la integración'"></app-basic-input>

  </div>


  <div class="controls_two_buttons absolute_boton">
    <button type="button" class="btn-01" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn-02" (click)="saveOrUpdate()">{{ idIntegration ? 'Actualizar' : 'Guardar' }}</button>
  </div>


</div>
