.container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.title {
  margin-bottom: 2em !important;
  font-weight: bold;
}

.form-search{
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, auto);
  gap: 1em;
}



.botones-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
}

.cont-reservas {
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  margin-top: 1em;
  grid-template-rows: 110px;
  box-sizing: border-box; /* Hace que el padding no aumente el tamaño del contenedor */
}

.reserva-card {
  height: 110px;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  overflow: hidden;
}

.icon-card {
  width: 100%;
  height: 110px;
  background: linear-gradient(180deg, var(--color-05) 63%, var(--color-06) 99%);
  border-radius: 10px 0 0 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-card mat-icon {
  width: 70%;
  height: 70%;
}
.info-card {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  box-sizing: border-box;
}
.info-cont {
  width: 100%;
  height: 85px;
  border-left: var(--color-05) 2px solid;
  border-right: var(--color-05) 2px solid;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 1em;
}
.info-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  font-size: 14px;
  box-sizing: border-box;
  overflow: auto;

  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.fecha {
  font-weight: bold;
  color: var(--color-05);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.info {
  display: flex;
  gap: 10px;
}
.title-info {
  font-weight: bold;
  // width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.desc-info {
  // width: 50%;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.options-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


.motivo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.content {
  width: 95%;
  margin: auto;
  border-left: var(--color-04) 2px solid;
  border-right: var(--color-04) 2px solid;
  display: flex;
  flex-direction: column;
}

/* No data */
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8em;
  width: 100%;
  height: 14em;
}

.no-data__img {
  width: 4em;
  filter: grayscale(1);
}

.no-data__span {
  text-align: center;
  color: #a3a2a2;
}

.btnIcon-01 {
  display: flex;
  align-items: center;
  max-width: 150px;
  height: 40px;
  margin-left: 0px;
}


/*-----Estilos del modal----*/
.content {
  width: 95%;
  margin: auto;
  border-left: var(--color-04) 2px solid;
  border-right: var(--color-04) 2px solid;
  display: flex;
  flex-direction: column;
}

.table-content {
  margin-top: 1em;
  width: 100%;
  overflow: auto;
}

.degrade {
  background: linear-gradient(180deg,
      rgba(235, 235, 235, 1) 63%,
      rgba(255, 255, 255, 1) 92%);
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
}

.files-content {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1em;

  height: 60px;
  margin-bottom: 1em;
}

.card-file {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.icon-clinico {
  color: var(--color-01);
}

.text-clinico {
  display: flex;
  flex-direction: column;
}

.text-clinico span {
  display: block;
  /* Asegúrate de que los spans sean bloques */
}

.title-clinico {
  color: var(--color-01);
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.title-clinico2 {
  display: inline-block;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 600;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detalle-content {
  margin: auto;
  width: 95%;
  // display: grid;
  // grid-template-columns: repeat(6, 1fr);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}


@media (max-width: 1100px) {

  .form-search {
    overflow: auto;
    grid-template-columns: repeat(5 ,180px);
    height: 70px;
    align-items: center;
    justify-items: center;
  }
}
