.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .tabs-container {
    flex-shrink: 0;
  }
  
  .content-tab {
    flex-grow: 1;
    overflow: auto; 
    margin-top: 1rem;
  }